@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Share+Tech+Mono&display=swap');

/* font-family: 'Share Tech Mono', monospace; */
/* font-family: 'Montserrat', sans-serif; */


/*—————————————————————————————————————————————————  
Base STYLES
—————————————————————————————————————————————————*/
body {
    background-color: #202120;
}

a {
    color: #4399db;
    font-family: 'Share Tech Mono', monospace;
    
}

a:hover {
    color: #1f5178;
    transition: .4s;
    text-decoration: none;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 4rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 900; */
    text-transform: uppercase;
    font-size: 1rem;
    color: #4399db;
    display: inline-block;
    border-left: 3px solid #1f5178;
    border-top: 1px solid #1f5178;
    border-right: 1px solid #1f5178;
    border-bottom: 1px solid #1f5178;
    padding: 4px 8px;
    /* background-color: #1f5178; */
    margin-bottom: 1.2rem;
}


p {
    font-family: 'Montserrat', sans-serif; 
}

code {
    display: inline-block;
    background-color: #313531;
    font-family: 'Share Tech Mono', monospace;
    padding: 3px 5px 0 5px;
    font-weight: normal;
    border: #404950 solid 1px;
    border-radius: 3px;
    color: #d8ebff;
}

.container--mx-width {
    max-width: 800px;
}

.btn--main-style {
    background-color: #1f5178;
    box-shadow: 0px 5px 8px 2px #091927;
    color: white;
    font-family: 'Share Tech Mono', monospace;
    display: block;
    margin-bottom: 1.2rem;
}

.btn--lg-pad {
    padding: .8rem 2.5rem;
}

.btn:hover {
    box-shadow: 0px 1px 3px 0px #02121f;
    color: #4399db;
    transition: .4s;
}

.btn:active {
    box-shadow: none;
    background-color: rgba(31, 81, 120, 0.6);
    transition: .4s;
}

/*—————————————————————————————————————————————————  
Nav STYLES
—————————————————————————————————————————————————*/
.navbar {
    font-size: 18px;
    border-bottom: #101010 1px solid;
}

.nav__timer {
    color: rgba(255, 255, 255, 0.85);
    font-family: 'Share Tech Mono', monospace;
}

#timeLeft {
    font-weight: bold;
}



/*—————————————————————————————————————————————————  
Start Screen STYLES
—————————————————————————————————————————————————*/
.start-content {
    color: white;
    text-align: center;
    display: none;
}

.start-content--color {
    color: rgba(255, 255, 255, 0.85);
}


/*—————————————————————————————————————————————————  
Question STYLES
—————————————————————————————————————————————————*/
.question--style {
    color: rgba(255, 255, 255, 0.85);
    font-size: 28px;
    margin-bottom: 2rem;
}

.question-1 {
    display: block;
}


/*—————————————————————————————————————————————————  
Feedback STYLES
—————————————————————————————————————————————————*/
.feedback {
    color: rgba(255, 255, 255, 0.85);
    padding-top: 1rem;
    font-size: 28px;
    border-top: #101010 1px solid;
}
